.css-1liqs1w {
    position:absolute;
    display:flow;
    margin-left: 20rem;
    margin-top: 5rem;
    margin-bottom: 25rem;
    width: 70%;
}

.css-pg6uc-MuiPagination-root{
   margin-top: 1.5rem;
   padding-top: 1rem;
}