.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 9px 12px;
  gap: 8px;

  width: 100%;
  height: 36px;

  border: 1px solid #3c3c3c;
  border-radius: 2px;
  background-color: #fff;
}
.input-container:focus {
  border-color: #5cb85f;
}
.input-container.active {
  border-color: #5cb85f;
}
.input-container > input {
  border: none;
}
.input-container > input:focus {
  outline: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* DROPDOWN COMPONENT */
.select-input {
  width: 100%;
}
.select-btn > img {
  transition: ease-out 0.2s;
  transform: rotate(0deg);
}
.select-btn > img.active {
  transition: ease-in 0.2s;
  transform: rotate(180deg);
}
.select-dropdown {
  position: absolute;
  background: #ffffff;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 0;
  margin: 4px 0;
  /* opacity: 0; */
  transition: 0.1s ease-out;
  /* visibility: hidden; */
  z-index: 6;
}
.select-dropdown.active {
  visibility: visible;
  opacity: 1;
  transition: 0.1s ease-in;
  z-index: 6;
}
.select-dropdown > li {
  min-height: 38px;
  line-height: 18px;
  padding: 10px 12px;
}
.select-dropdown > li > input {
  display: none;
}
.select-dropdown > li:hover {
  background: #c9e7ca;
  color: #5cb85f;
  font-style: bold;
}

/* DATE PICKER COMPONENT */
.daterangepicker {
  margin-left: -13px;
  margin-top: 15px !important;
  padding: 16px !important;

  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px !important;

  font-family: "Helvetica" !important;
  font-style: normal;
  line-height: 21px !important;
  font-size: 14px !important;

  width: fit-content !important;
}
.daterangepicker.opensright::before {
  display: none;
}
.daterangepicker.opensright::after {
  display: none;
}
.daterangepicker.opensright {
  display: none;
}

.daterangepicker td.active,
.daterangepicker td.active:hover {
  background-color: #5cb85f !important;
}
.daterangepicker .drp-buttons {
  text-align: center;
  clear: none;
  border: none;
}
.daterangepicker .drp-buttons .btn {
  margin-left: 0;
}

.applyBtn {
  width: 100%;
  height: 36px;
}

.daterangepicker .drp-buttons {
  padding: 16px 0 0 0;
}

.daterangepicker .calendar-table th {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 14px;
}
.daterangepicker .calendar-table td {
  padding: 9px 12px;

  font-weight: 300;
  font-size: 14px !important;
}

.calendar-table th.prev.available,
.calendar-table th.next.available,
.calendar-table th.month {
  padding: 0;
}

.calendar-table > table > thead > tr:nth-child(1) > th:nth-child(1) {
  padding: 0;
}
